$primary:#005693; // main color

$gray:#fafafa; // gray 
$white:#fff; // white


// 테마
$default-font-color:#444;
$sidemenu-font-color:#444;
$sidemenu-font-acitve-color:#1669bb;
$sidemenu-hover-color:#dbdbdb;